#container {
	height: 500px;
	width: 500px;
	background-color: gray;
}
#square1 {
	position: relative;
	top: 0px;
	left: 40px;
	background-color: red;
	height: 100px;
	width: 100px;
}
#square2 {
	background-color: blue;
	height: 100px;
	width: 100px;
}
#square3 {
	background-color: green;
	height: 100px;
	width: 100px;
}
#square4 {
	background-color: black;
	color: white;
	height: 100px;
	width: 100px;
}